.course-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: 6px;
  width: fit-content;
}
.image-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 30px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
