@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Poppins:wght@400;900&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@500;800&family=Poppins:wght@400;900&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");

:root {
  font-family: "Hahmlet", serif;
  font-size: 16px;

  font-weight: 400;
}

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
