.info-panel-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-light-grey);
}

.info-panel-background {
  display: grid;
  grid-template-columns: var(--grid-columns);
  align-content: center;
  background-image: url("../../assets/background/background.png");
  background-size: cover;
  height: 550px;
}

.info-panel-text {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.info-panel-description {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: 3fr 1fr;
  padding-top: 56px;
  padding-bottom: 40px;
  row-gap: 45px;
}

.info-panel-content {
  grid-column-start: 2;
  grid-column-end: 3;
}

.link {
  grid-row-start: 2;
  grid-column-start: 2;
  color: rgb(0, 174, 243);
  transition: color 0.5s ease;
}

.link:hover {
  color: rgb(213, 213, 213);
}

.info-panel-title,
.info-panel-subtitle {
  font-weight: bolder;
}
